$brand-color: #f86338;
$darker-brand-color: #e3471c;
$link-color: #11142d;
$light-blue-background: #eff4fe;

.gallery-container {
    .premium-section-container {
        background-color: #eff4fe;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
        h3 {
            font-size: 4.8em;
        }
        .premium-button-container {
            padding-bottom: 2em;
            width: 85%;
            padding: 0 100px;
            .premium-button-inner {
                display: flex;
                justify-content: space-between;
                .premium-button {
                    font-size: 24px;
                    background-color: transparent;
                    border: none;
                    color: #9a9ab0;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
                .selected {
                    color: $brand-color;
                }
            }
        }
        .premium-cards-container {
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.5em;
            .premium-card-link {
                text-decoration: none;
                background-color: #fff;
                .premium-item-card {
                    width: 34em;
                    height: 64em;
                    padding: 0 4em;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    gap: 1em;
                    transition: all ease 0.3s;
                    .premium-category {
                        font-size: 1rem;
                        color: #9a9ab0;
                    }
                    .premium-card-title {
                        font-size: 4.8em;
                        color: $link-color;
                    }
                    .premium-card-btn {
                        margin-top: 1em;
                        margin-bottom: 6rem;
                        img {
                            width: 4em;
                        }
                    }
                    &:hover {
                        transition: all ease 0.3s;
                        background-color: #d7d7d7;
                    }
                }
            }
        }
        .find-more-btn {
            margin: 8em 0 16em 0;
            .premium-find-more {
                background-color: $brand-color;
                font-size: 1.6em;
                padding: 1.2em 2em;
                border: none;
                color: #fff;
                border-radius: 0.8em;
                transition: all 0.2s ease;
                &:hover {
                    transform: translateY(-5px);
                    transition: all 0.2s ease;
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
    }
    .testimonial-container {
        padding: 0em 18em 12em 18em;
        background-color: $light-blue-background;
        .testimonial-inner {
            .slick-slider {
                .slick-arrow {
                    border: 1px solid #333;
                    border-radius: 50%;
                }
                .slick-track {
                    .slick-slide {
                        .testimonial-card {
                            background-color: #fff;
                            width: 100%;
                            padding: 6em 5em 5em 7em;
                            .left-container {
                                float: left;
                                margin-right: 5em;
                                .image-box {
                                    height: 320px;
                                    width: 320px;
                                    background-color: #e2e2ea;
                                    border-radius: 0.8em;
                                }
                            }
                            .right-container {
                                display: flex;
                                flex-direction: column;
                                h3 {
                                    font-size: 4.8em;
                                    font-weight: 700;
                                    color: $brand-color;
                                    margin: 0;
                                    margin-top: 0.5em;
                                    // margin-bottom: 38px;
                                }
                                .content {
                                    font-size: 1.6em;
                                    font-weight: 500;
                                    color: #9a9ab0;
                                    width: 65%;
                                }
                                .testimonial-user-details {
                                    .name {
                                        font-size: 2.4em;
                                        font-weight: 700;
                                        color: #11142d;
                                    }
                                    .statement {
                                        font-size: 1.6em;
                                        font-weight: 500;
                                        color: #515151;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.newsletter-wrap {
    background-color: $light-blue-background;
    padding-bottom: 10em;
}
