$brand-color: #f86338;
$darker-brand-color: #e3471c;
$link-color: #11142d;
$light-blue-background: #eff4fe;
$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

.home-container {
    .premium-section-container {
        background-color: #eff4fe;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
        h3 {
            font-size: 4.8em;
        }
        .premium-button-container {
            padding-bottom: 2em;
            width: 85%;
            padding: 0 100px;
            .premium-button-inner {
                display: flex;
                justify-content: space-between;
                .premium-button {
                    font-size: 24px;
                    background-color: transparent;
                    border: none;
                    color: #9a9ab0;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
                .selected {
                    color: $brand-color;
                }
            }
        }
        .premium-cards-container {
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.5em;
            .premium-card-link {
                text-decoration: none;
                background-color: #fff;
                .premium-item-card {
                    width: 34em;
                    height: 64em;
                    padding: 0 4em;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    gap: 1em;
                    transition: all ease 0.3s;
                    .premium-category {
                        font-size: 1rem;
                        color: #9a9ab0;
                    }
                    .premium-card-title {
                        font-size: 4.8em;
                        color: $link-color;
                    }
                    .premium-card-btn {
                        margin-top: 1em;
                        margin-bottom: 6rem;
                        img {
                            width: 4em;
                        }
                    }
                    &:hover {
                        transition: all ease 0.3s;
                        background-color: #d7d7d7;
                    }
                }
            }
        }
        .find-more-btn {
            margin: 8em 0 16em 0;
            .premium-find-more {
                background-color: $brand-color;
                font-size: 1.6em;
                padding: 1.2em 2em;
                border: none;
                color: #fff;
                border-radius: 0.8em;
                transition: all 0.2s ease;
                &:hover {
                    transform: translateY(-5px);
                    transition: all 0.2s ease;
                    opacity: 0.9;
                    cursor: pointer;
                }
            }
        }
    }
    .top-items-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10em;
        .top-items-title {
            font-size: 4.8em;
            margin: 100px 0 25px 0;
        }
        .top-items-sub-text {
            font-size: 1.5em;
            margin-bottom: 3em;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: 400;
            margin-top: 0;
            span {
                display: flex;
            }
        }
        .top-items-cards-container {
            display: inline-block;
            width: 80%;
            margin-left: 5%;
            .slick-slider {
                display: flex;
                .slick-track {
                    .slick-slide {
                        .top-items-card {
                            height: 451px;
                            width: 650px;
                            background-color: #e2e2ea;
                            border-radius: 0.6em;
                            display: flex;
                            flex-direction: column;
                            align-items: space-between;
                            justify-content: space-between;
                            align-content: space-between;
                            .card-top-section {
                                display: flex;
                                align-items: flex-start;
                                .sale-tag {
                                    color: #e3471c;
                                    padding: 0.5em;
                                    font-size: 1.4em;
                                    font-weight: 500;
                                    margin: 1em;
                                    background-color: #fff;
                                    border-radius: 0.8em;
                                    text-transform: uppercase;
                                }
                                .image-box {
                                    width: 20em;
                                    height: 33em;
                                }
                            }
                            .card-bottom-section {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 0.8em;
                                .product-heading {
                                    font-size: 2.4em;
                                    color: #11142d;
                                    font-weight: 700;
                                }
                                .product-category {
                                    font-size: 1.4em;
                                    font-weight: 400;
                                    color: #9a9ab0;
                                }
                                .product-price {
                                    display: flex;
                                    gap: 0.5em;
                                    .price-now {
                                        font-size: 1.6em;
                                        font-weight: 500;
                                        color: $brand-color;
                                    }
                                    .price-before {
                                        font-size: 1.6em;
                                        font-weight: 500;
                                        color: #9a9ab0;
                                    }
                                }
                            }
                        }
                    }
                }
                .slick-dots {
                    padding-top: 2em;
                }
            }

            .slick-track {
                display: flex;
                gap: 1em;
            }
        }
    }
    .story-container {
        background-color: #eff4fe;
        display: flex;
        justify-content: center;
        padding: 16em 10em 10em 10em;
        gap: 5em;
        .left-container {
            .image-box {
                width: 60em;
                height: 72em;
                background-color: #e2e2ea;
            }
        }
        .right-container {
            display: flex;
            flex-direction: column;
            .story-heading {
                display: flex;
                flex-direction: column;
                margin-top: 0;
                .story-text {
                    font-size: 4.8em;
                    font-weight: 700;
                }
                .our-text {
                    font-weight: 700;
                    font-size: 4.8em;
                }
            }
            .story-text {
                margin-top: 1.5em;
                font-size: 1.6em;
            }
            .read-full {
                margin-top: 5em;
                .read-full-btn {
                    text-decoration: none;
                    color: $brand-color;
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }
    .achievements-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $light-blue-background;
        padding: 5em 0 5em 0;
        h3 {
            font-size: 4.8em;
            color: $link-color;
        }
        .logos-container {
            display: flex;
            img {
                width: 20em;
                height: 10em;
            }
        }
    }
    .testimonial-container {
        padding: 3em 13em;
        background-color: $light-blue-background;
        .testimonial-inner {
            .slick-slider {
                .slick-arrow {
                    border: 1px solid #333;
                    border-radius: 50%;
                }
                .slick-track {
                    .slick-slide {
                        .testimonial-card {
                            background-color: #fff;
                            width: 100%;
                            padding: 6em 5em 5em 7em;
                            .left-container {
                                float: left;
                                margin-right: 5em;
                                .image-box {
                                    height: 320px;
                                    width: 320px;
                                    background-color: #e2e2ea;
                                    border-radius: 0.8em;
                                }
                            }
                            .right-container {
                                display: flex;
                                flex-direction: column;
                                h3 {
                                    font-size: 4.8em;
                                    font-weight: 700;
                                    color: $brand-color;
                                    margin: 0;
                                    margin-top: 0.5em;
                                    // margin-bottom: 38px;
                                }
                                .content {
                                    font-size: 1.6em;
                                    font-weight: 500;
                                    color: #9a9ab0;
                                    width: 65%;
                                }
                                .testimonial-user-details {
                                    .name {
                                        font-size: 2.4em;
                                        font-weight: 700;
                                        color: #11142d;
                                    }
                                    .statement {
                                        font-size: 1.6em;
                                        font-weight: 500;
                                        color: #515151;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .articles-container {
        background-color: $light-blue-background;
        padding-top: 10em;
        .articles-top {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 9em;
            margin-bottom: 5em;
            h1 {
                font-size: 4.5em;
                margin: 0;
                width: 35%;
            }
            .see-more-container {
                margin-top: 5em;
                .see-more-btn {
                    text-decoration: none;
                    color: $brand-color;
                    font-weight: 700;
                    font-size: 24px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        .articles-cards-container {
            padding: 0 9em 5em 9em;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-between;
            .article-card {
                width: 62em;
                transition: all 0.2s ease;
                &:hover {
                    cursor: pointer;
                    // transform: translateY(-5px);
                    // background-color: #eff4fe;
                    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    // transition: all 0.2s ease;
                }
                .article-image {
                    width: 62em;
                    height: 41em;
                    background: #e2e2ea;
                }
                .article-heading {
                    font-size: 3em;
                    margin: 2rem 0 1rem 0;
                }
                .article-date-category-container {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    margin-bottom: 1.5em;
                    .article-date {
                        font-size: 1.4em;
                        color: #515151;
                    }
                    .dot {
                        height: 10px;
                        width: 10px;
                        background-color: #515151;
                        border-radius: 50%;
                        display: inline-block;
                    }
                    .article-category {
                        font-size: 1.4em;
                        color: #515151;
                    }
                }
                .article-summary {
                    font-size: 1.4em;
                    color: #9a9ab0;
                }
                .article-explore-btn {
                    color: $brand-color;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    font-weight: 700;
                    margin-top: 3em;
                    margin-bottom: 4em;
                    &:hover {
                        color: $darker-brand-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .newsletter-wrap {
        background-color: $light-blue-background;
        padding-bottom: 10em;
    }
}

// smartphones
@media screen and (max-width: 767px) {
    .home-container {
        .premium-section-container {
            h3 {
                font-size: 3em;
            }
            .premium-button-container {
                .premium-button-inner {
                    .premium-button {
                        font-size: 16px;
                    }
                    .selected {
                        color: $brand-color;
                    }
                }
            }
            .premium-cards-container {
                .premium-card-link {
                    .premium-item-card {
                        width: 22vw;
                        height: 35em;
                        .premium-card-title {
                            font-size: 2.5em;
                            color: $link-color;
                        }
                        .premium-category {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen}) {
    .home-container {
        .premium-section-container {
            h3 {
                font-size: 3.5em;
            }
            .premium-button-container {
                .premium-button-inner {
                    .premium-button {
                        font-size: 20px;
                    }
                    .selected {
                        color: $brand-color;
                    }
                }
            }
            .premium-cards-container {
                .premium-card-link {
                    .premium-item-card {
                        width: 25vw;
                        height: 45em;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: #{$large-screen}) and (max-width: #{$extra-large-screen}) {
    .home-container {
        .premium-section-container {
        }
    }
}
