$brand-color: #f86338;
$darker-brand-color: #e3471c;
$link-color: #11142d;
$light-blue-background: #eff4fe;
$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

.top-home-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 10em 2.5em 6rem;
    .home-logo {
        .home-button {
            text-decoration: none;
            color: $brand-color;
            font-size: 39px;
            background-color: transparent;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .call-shipping-container {
        display: flex;
        align-items: center;
        gap: 2rem;
        .call-center-cont {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            img {
                width: 1.4rem;
            }
            p {
                font-size: 1rem;
            }
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
        .shipping-cont {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            img {
                width: 1.4rem;
            }
            p {
                font-size: 1rem;
            }
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8em 10em 2.8em 6rem;
    background-color: #eff4fe;
    .links-container {
        display: flex;
        gap: 3em;
        .navbar-link {
            text-decoration: none;
            font-size: 1.6em;
            color: $link-color;
            &:visited {
                color: $link-color;
            }
        }
    }
    .search-container {
        .search-input-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            border-radius: 4px;
            width: 40vw;
            padding: 1em 1em;
            .navbar-search-input {
                width: 100%;
                border: none;
                &::placeholder {
                    color: #9aa1b0;
                }
                &:focus {
                    outline: none;
                }
            }
            img {
                width: 2em;
            }
        }
    }
    .navbar-icons {
        display: flex;
        align-items: center;
        gap: 3rem;
        .icon-link {
            display: flex;
            text-decoration: none;
            img {
                width: 27px;
                &:hover {
                    opacity: 0.5;
                }
            }
            .cart-items {
                position: absolute;
                padding: 0.2rem 0.5em;
                z-index: 2;
                margin-top: -1.2em;
                margin-left: 1.3rem;
                color: #fff;
                font-size: 1.5em;
                background-color: $brand-color;
                border-radius: 50%;
            }
        }
    }
}

// smartphones
@media screen and (max-width: 767px) {
    .top-home-section {
        padding: 2em 4em 2em 2rem;
        .home-logo {
            .home-button {
                font-size: 15px;
            }
        }
        .call-shipping-container {
            .call-center-cont {
                img {
                    width: 1rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
            .shipping-cont {
                img {
                    width: 1rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
        }
    }
    .navbar-container {
        padding: 2.8em 2em 2.8em 2rem;
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
        .links-container {
            gap: 1.5em;
            .navbar-link {
                font-size: 1.6em;
            }
        }
        .search-container {
            width: 60%;
            display: flex;
            justify-content: center;
            .search-input-container {
                background-color: #fff;
                border-radius: 4px;
                width: 30em;
                padding: 1em 1em;
                .navbar-search-input {
                    width: 100%;
                }
                img {
                    width: 2em;
                }
            }
        }
        .navbar-icons {
            gap: 3rem;
            .icon-link {
                img {
                    width: 27px;
                }
                .cart-items {
                    padding: 0.2rem 0.5em;
                    margin-top: -1.2em;
                    margin-left: 1.3rem;
                    color: #fff;
                    font-size: 1.5em;
                }
            }
        }
    }
}
// Tablets
@media screen and (min-width: #{$medium-screen}) and (max-width: #{$large-screen}) {
    .top-home-section {
        padding: 2em 4em 2em 2rem;
        .home-logo {
            .home-button {
                font-size: 15px;
            }
        }
        .call-shipping-container {
            .call-center-cont {
                img {
                    width: 1rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
            .shipping-cont {
                img {
                    width: 1rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
        }
    }
    .navbar-container {
        padding: 2.8em 2em 2.8em 2rem;
        gap: 2.5em;
        .links-container {
            gap: 1.5em;
            .navbar-link {
                font-size: 1.6vw;
            }
        }
        .search-container {
            width: 60%;
            display: flex;
            justify-content: center;
            .search-input-container {
                background-color: #fff;
                border-radius: 4px;
                width: 30vw;
                padding: 1em 1em;
                .navbar-search-input {
                    width: 100%;
                }
                img {
                    width: 2vw;
                }
            }
        }
        .navbar-icons {
            gap: 3rem;
            .icon-link {
                img {
                    width: 20px;
                }
                .cart-items {
                    padding: 0.2rem 0.5em;
                    margin-top: -1.2em;
                    margin-left: 1.3rem;
                    color: #fff;
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media screen and (min-width: #{$large-screen}) and (max-width: #{$extra-large-screen}) {
    .top-home-section {
        padding: 2em 4em 2em 2rem;
        .home-logo {
            .home-button {
                font-size: 15px;
            }
        }
        .call-shipping-container {
            .call-center-cont {
                img {
                    width: 1rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
            .shipping-cont {
                img {
                    width: 1rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
        }
    }
    .navbar-container {
        padding: 2.8em 2em 2.8em 2rem;
        gap: 2.5em;
        .links-container {
            gap: 1.5em;
            .navbar-link {
                font-size: 1.6vw;
            }
        }
        .search-container {
            width: 90%;
            display: flex;
            justify-content: center;
            .search-input-container {
                border-radius: 4px;
                width: 40vw;
                padding: 1em 1em;
                .navbar-search-input {
                    width: 100%;
                }
                img {
                    width: 2vw;
                }
            }
        }
        .navbar-icons {
            gap: 3rem;
            .icon-link {
                img {
                    width: 20px;
                }
                .cart-items {
                    padding: 0.2rem 0.5em;
                    margin-top: -1.2em;
                    margin-left: 1.3rem;
                    color: #fff;
                    font-size: 1.5em;
                }
            }
        }
    }
}
